{% extends "base.html" %}

{% block title %}Create Form{% endblock %}

{% block form %}{% endblock %}

{% block content %}
    <div class="container">
        <h3>НОВЫЕ ПОСТУПЛЕНИЯ</h3>
        <div class="card-deck">
            {% for object in object_list %}
            <div class="row">
                <div class="col-sm d-flex">
                    <div class="card border-primary mb-3" style="width: 10rem;">
                        <img src="{{ object.image.url }}" class="card-img-top" alt="Нет изображения">
                        <div class="card-body flex-fill">
                            <h5 class="card-title">{{ object.name }}</h5>
                            <p class="card-text">{{ object.price }} BYN</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'book_detail_view' object.pk %}" class="btn btn-primary">Детали</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
