{% extends "base.html" %}

{% block title %}Add Book{% endblock %}

{% block form %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
    <h3>ДОБАВИТЬ КНИГИ</h3>
        <form action="" method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="next" value="{{ next }}">
                <input type="submit" value="Добавить в корзину" class="btn btn-primary">
                <input type="button" value="Назад" onclick="history.back();" class="btn btn-info">
            </div>
        </form>
    </div>
{% endblock %}
