{% extends "base.html" %}

{% block title %}Delete Book{% endblock %}

{% block form %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
    <h3>УДАЛИТЬ КНИГИ</h3>
        <form action="" method="post">
            <div class="form-group">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Вы уверены?</button>
                <input type="button" value="Назад" onclick="history.back();" class="btn btn-info">
            </div>
        </form>
    </div>
{% endblock %}
