{% extends "base.html" %}

{% block title %}Cart View{% endblock %}

{% block form %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
        <h3>ВАША КОРЗИНА</h3>
        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Книга</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Цена за шт.</th>
                <th scope="col">Цена всего</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for product in object.books_in_cart.all %}
                <tr>
                    <td>{{ product.book.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.book.price }}</td>
                    <td>{{ product.price_total }}</td>
                    <td>
                        <a href="{% url "book_detail_view" product.book.pk %}"><i class="fas fa-info-circle"></i></a>
                        <a href="{% url "add_book_to_cart" product.book.pk %}?next={{ view.request.path }}"><i class="fas fa-pen-square"></i></a>
                        <a href="{% url "delete_book_from_cart" product.pk %}?next={{ view.request.path }}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Итого</td>
                <td>{{ object.books_in_cart_count }}</td>
                <td></td>
                <td>{{ object.total_cart_price }}</td>
                <td></td>
            </tr>
        </tfoot>
        </table>
    
        <div class="row">
            <div class="col-12">
                {% if object.books_in_cart_count > 0 %}
                    <h3>Заполните форму для оформления заказа</h3>
                    <form action="{% url 'order_create' %}" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Оформить заказ" class="btn btn-primary">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}